html, body {
  background: white;
  font-family: 'Helvetica', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #c7b299;
    font-size: 50px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}


.product {
    display: flex;
    justify-content: center;
    border: solid 10px;
    border-color: bisque;
    border-radius: 50px;
    margin: 0 45px 40px 20px;
    padding: 0 0 0 0;
}

.page-footer__text {
    text-align: center;
    color: #c7b299;
}

.back {
    color: #c7b299;
    font-size: 30px;
}

.count {
    display: flex;
    justify-content: center;
}